@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #a8d8ea;
}

h1 {
    margin: 50px;
    color: #ffffd2;
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
}

.board {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #fcbad3;
}

.tile {
    border: 1px solid #aa96da;
    display: flex;
    justify-content: center;
    height: 150px;
    width: 150px;
    transition: all 1s;
    overflow: hidden;
    cursor: pointer;
}

.tile-active {
    cursor: default;
}

.token{
    justify-self: center;
    align-self: center;
    opacity: 0;
    font-size: 130px;
    font-family: 'Quicksand', sans-serif;
    color: #aa96da;
    transition: all .5s;
    transform: scale(0);
}

.token-active {
    opacity: 1;
    transform: scale(1);
}

h3 {
    color: #ffffd2;
    text-align: center;   
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    padding: 30px 0;
}

.win-screen {
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 150px;
    height: 456px;
    width: 456px;
    background-color: #aa96da;
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

.win-screen-active {
    opacity: 0.7;
    pointer-events: all;
}

.win-lines {
    height: 456px;
    width: 456px;
    position: fixed;
    top: 150px;
    pointer-events: none;
    overflow: hidden;
}

.line {
    margin: 70px 28px 142px;
    height: 8px;
    width: 400px;
    border-radius: 4px;
    background-color: #a8d8ea;
    transition: all 0.7s;
}

.rows .line {
    transform: translateX(-456px);
}

.column {
    transform: rotate(-90deg);
}

.column .line {
    transform: translateX(456px);
}

.line-7 {
    width: 564px;
    transform: translate(374px, -304px) rotate(-45deg); 
}

.line-8 {
    width: 564px;
    transform: translate(-538px, -456px) rotate(45deg); 
}

.line-won {
    transform: translate(0px) !important;
    opacity: 1;
}

.line-7-won {
    transform: translate(-82px, 152px) rotate(-45deg);
    opacity: 1;
}

.line-8-won {
    transform: translate(-82px, 0) rotate(45deg);
    opacity: 1;
}

.scoreboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 450px;
}

p, button {
    margin: 10px;
    color: #ffffd2;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    text-align: center;
}


.reset {
    margin-left: 50px;
    padding: 5px;
    border: 3px solid #ffffd2;
    background-color: #a8d8ea;
    border-radius: 20px;
    transition: background-color 0.2s ease-out;
    outline: 0;
}

.reset:hover {
    background-color: #aa96da;

}

.reset:active {
    transform: scale(0.9);
    border: 3px solid #ffffd2;
    outline: 0;
    border: none;
}

@keyframes buttonClick {
    0% {
        transfrom: scale(1);
    }
    50% {
        transfrom: scale(0.8);
    }
    100% {
        transfrom: scale(1);
    }
}